<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<div>
  <% @recipes.each do |recipe| %>
    <a href="/recipes/<%= recipe.id %>">
      <div><%= recipe.name %></div>
      <div><%= recipe.description %><div>
    </a>
    <hr>
  <% end %>
</div>
