<h1>Recipes#show</h1>
<p>Find me in recipes#show</p>

<h1><%= @recipe.name %></h1>

<div>
  <p>preparation_time: <%= @recipe.preparation_time %> secs</p>
  <p>cooking_time: <%= @recipe.cooking_time %> secs</p>
  <p>steps: <%= @recipe.description %></p>
</div>
